.studentsGallery {
  display: flex;
  align-items: center;
  height: 100vh;
  gap: 4rem;
  justify-content: center;
  background: rgb(89 92 137 / 55%);
}

.studentsGalleryCarousel {
  width: 30%;
}

.carouselWrapper button {
  margin: 0 3rem 3rem 0;
  background-color: #003d90;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #e7e6e6;
  padding: 0.6rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.studentsGalleryText {
  width: 50%;
  cursor: pointer;
  border-radius: 15px;
  padding: 1rem 0.6rem;
  background: transparent;
  transition: all 0.3s;
}

.studentsGalleryText:hover {
  background: rgb(89 92 137 / 20%);
}

.studentsGalleryText h4 {
  font-size: 32px;
  font-weight: 600;
}

.studentsGalleryText p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 2rem;
  line-height: 32px;
}

@media screen and (max-width: 1024px) {
  .studentsGallery {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
    gap: 4rem;
    justify-content: center;
    background: rgb(89 92 137 / 55%);
  }

  .studentsGalleryText {
    width: 90%;
    cursor: pointer;
    border-radius: 15px;
    padding: 2rem 0.6rem 1rem;
    background: transparent;
    transition: all 0.3s;
  }

  .studentsGalleryText h4 {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .studentsGalleryText p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 2rem;
    line-height: 32px;
  }

  .studentsGalleryCarousel {
    width: 90%;
  }
}
